# Name: Fuzzy and artificial neural networks image processing toolbox for ImageJ
# Description: Toolbox includes fuzzy edge detection plugin, fuzzy contrast enhancement plugin and artificial neural networks edge detection plugin
#
# Author: Vladimir Nizamutdinov

Plugins>Fuzzy and artificial neural networks image processing toolbox for ImageJ, "Artificial neural networks edge detection by Mehrara and Zahedinejad", ANN_Edge_Detection_By_Mehrara_And_Zahedinejad
