# Name: Fuzzy and artificial neural networks image processing toolbox for ImageJ
# Description: Toolbox includes fuzzy edge detection plugin, fuzzy contrast enhancement plugin and artificial neural networks edge detection plugin
#
# Author: Vladimir Nizamutdinov

Plugins>Fuzzy and artificial neural networks image processing toolbox, "Artificial neural networks based edge detection by Mehrara and Zahedinejad", ANN_Edge_Detection_By_Mehrara_And_Zahedinejad
Plugins>Fuzzy and artificial neural networks image processing toolbox, "Fuzzy edge detection by Suliman and others", Fuzzy_Edge_Detection_By_Suliman_And_Others
Plugins>Fuzzy and artificial neural networks image processing toolbox, "Fuzziness minimization based contrast enhancement", Fuzzy_Contrast_Enhancement_By_Fuzziness_Minimization